com/rackspace/cloud/servers/api/client/*.pyc
com/rackspace/cloud/servers/api/client/shared/*.pyc
com/rackspace/cloud/servers/api/client/tests/*.pyc
com/rackspace/cloud/servers/api/client/tests/shared/*.pyc
com/rackspace/cloud/servers/api/client/logs/cloudfiles.test.log